@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}


html{
    font-size: 50,5%;
}
body{
    font-family:Arial;
    margin: 0;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header #logo{
    margin: 2rem 0rem 0 2rem ;
    z-index: 2;
}
 #btn-login{
    margin: 2rem 2rem 0 0 ;
    min-width: 60pt;
    height: 2rem;
    font-size:small;
    border: none;
    background-color: #f40612;
    color: white;
    border-radius: 4pt;
    padding: 1pt;
    z-index: 2;
}
 #btn-login:hover{
    background-color: #d20712;
}

.box-main{
  margin: 0;
  background: url(images/background\ netflix.jpg) no-repeat center center/cover;
  width: 100%;
  height: 90vh;
  color: white;
  font-family: "Netflix sans ligth"; 
}
.box-main::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.479);
    box-shadow: inset 120px 100px 250px #000,inset -120px -100px 250px #000  ;
}

p{
    font-size: 1.5rem;
    width: 73%;
    font-weight: 400;
}

.box-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 7.5rem 0;
    margin: 0 auto;   
}

.box-article h1{
    max-width: 38rem;
    margin: 0 auto;
    line-height: 1.1;
    font-size: 3.125rem;
    text-align: center; 
   
}
.box-article h2{
    width: 100%;
    font-size: 1.5rem;
    margin: 1rem auto;
    text-align: center; 
}
.box-article h3{
    width: 100%;
    font-size: 1.2rem;
    margin: 1rem auto;
    text-align: center; 
}
 
.box-input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.box-input .email{
     width: 30%;
     height: 100%;
     margin: auto;
     border: none;
     align-items: center;
}
  .btn-value{
    width: 30%;
    height: 100%;
    background-color:#f40612;
    border: none;
    color: white;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
}
.btn-value:hover{
    background-color: #bf040d;
}

article{
    width: 100%;
}

.box-1{
    display: flex;
    background-color:black ;
    color: white;
    width: 100%;
    height: 60vh;
    align-items: center;
    justify-content: space-between;
    text-align: center;  
    border-bottom: 8pt solid #222222;
    border-top: 8pt solid #222222;
}
.box-1 article{
    width: 50%;
    text-align: left;
    margin-left: 5rem;
}
.box-1 h1{
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}
.box-1 img{
    padding-right: 4rem;
    height: 60%;
}

.box-02{
    display: flex;
    background-color:black ;
    color: white;
    width: 100%;
    height: 60vh;
    align-items: center;
    justify-content: space-between;
    border-bottom: 8pt solid #222222;
   
}
.box-02 img{
    order: -1;
    padding-bottom: 3rem;
    height: 75%;
    min-width: 36%;
}
.box-02 article{
    width: 40%;
    text-align: left;
    margin-right: 5rem;
}
.box-02 h1{
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}

.box-03 {
    display: flex;
    background-color:black ;
    color: white;
    width: 100%;
    height: 60vh;
    align-items: center;
    justify-content:space-between;
    border-bottom: 8pt solid #222222;
}
.box-03 article{
    width: 44%;
    text-align: left;
    margin-left: 8rem;
}
.box-03 h1{
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}
.box-03 p{
    font-size: 1.625rem;
}
.box-03 img{
    padding-right: 4rem;
    height: 86%;
    min-width: 42%;
}

.box-04{
    display: flex;
    background-color:black ;
    color: white;
    width: 100%;
    height: 60vh;
    align-items: center;
    justify-content: space-between;
    border-bottom: 8pt solid #222222;
}
.box-04 img{
    order: -1;
    height: 60%;
}
.box-04 article{
    width: 50%;
    text-align: left;
    margin-left: 5rem;
}
.box-04 img{
    padding-left: 4rem;
}
.box-04 h1{
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}
.box-05{
    display: flex;
    background-color:black ;
    color: white;
    width: 100%;
    height: 60vh;
    align-items: center;
    justify-content: center;
}

footer{
    display: flex;
    background-color:black ;
    color: white;
    width: 100%;
    height: 60vh;
    margin: 0%;
   
}
