@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 50,5%;
}
body{
    font-family:Arial;
    margin: 0;
  background-color: #000;
}

/*HEADER*/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header #logo{
    margin: 2rem 0rem 0 2rem ;
    z-index: 2;
}
 #btn-login{
    margin: 2rem 2rem 0 0 ;
    min-width: 60pt;
    height: 2rem;
    font-size:small;
    border: none;
    background-color: #f40612;
    color: white;
    border-radius: 4pt;
    padding: 1pt;
    z-index: 2;
}
 #btn-login:hover{
    background-color: #d20712;
}

/*MAIN CONTENT*/
.box-main{
  margin: 0;
  background: url(images/background\ netflix.jpg) no-repeat center center/cover;
  width: 100%;
  height: 80vh;
  color: white;
  font-family: "Netflix sans ligth"; 
}
.box-main::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background: rgba(0, 0, 0, 0.479);
    box-shadow: inset 120px 100px 250px rgba(0, 0, 0, 0.619),inset -120px -100px 250px rgba(0, 0, 0, 0.619)  ;
}

p{
    font-size: 1.5rem;
    width: 73%;
    font-weight: 400;
    color: white;
}

/*HTML ARTICLES AREA*/
.box-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 7.5rem 0;
    margin: 0 auto; 
    font-family: arial;    
}

.box-article h1{
    max-width: 38rem;
    margin: 0 auto;
    line-height: 1.1;
    font-size: 3.125rem;
    text-align: center; 
    z-index: 2;
    font-family: arial;
}
.box-article h2{
    width: 100%;
    font-size: 1.5rem;
    margin: 1rem auto;
    text-align: center; 
    z-index: 2;
    font-family: arial;
}
.box-article h3{
    width: 100%;
    font-size: 1.2rem;
    margin: 1rem auto;
    text-align: center; 
    z-index: 2;
}
article{
    width: 100%;
}


/*FORM*/
.form-main{
margin: auto;
z-index: 2;
}
#email-main{
    width: 29rem;
    height: 3.3rem;
    outline-color: rgba(53, 53, 250, 0.379);
}
.btn-email{
    background-color: #d20712;
    border: none;
    width: 11rem;
    height: 3.5rem;
    color: white;
    font-size: 1.3rem;
    padding: 0.5rem 0.5rem 0.7rem 0.5rem;
    margin-left: -0.3rem;
    margin-left: -0.2rem;
    position: relative;
    top: 0.2rem;
}
.form-main #icon{
    position: relative;
    top: 0.2rem;
}



/*BOX-O1*/
.box-01{
    display: flex;
    background-color:black;
    color: white;
    width: 100%;
    height: 60vh;
    align-items: center;
    justify-content: space-between;
    text-align: center;  
    border-bottom: 8pt solid #222222;
    border-top: 8pt solid #222222;
}
.box-01 article{
    width: 50%;
    text-align: left;
    margin-left: 5rem;
}
.box-01 h1{
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
   
}
.box-01 img{
    padding-right: 4rem;
    height: 75%;
}

/*BOX-O2*/
.box-02{
    display: flex;
    background-color:black ;
    color: white;
    width: 100%;
    height: 60vh;
    align-items: center;
    justify-content: space-between;
    border-bottom: 8pt solid #222222;
   
}
.box-02 img{
    order: -1;
    padding-bottom: 3rem;
    height: 85%;
  
}
.box-02 article{
    width: 40%;
    text-align: left;
    margin-right: 5rem;
}
.box-02 h1{
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}

/*BOX-O3*/
.box-03 {
    display: flex;
    background-color:black ;
    color: white;
    width: 100%;
    height: 60vh;
    align-items: center;
    justify-content:space-between;
    border-bottom: 8pt solid #222222;
}
.box-03 article{
    width: 44%;
    text-align: left;
    margin-left: 8rem;
}
.box-03 h1{
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
    width: 75%;
}
.box-03 p{
    font-size: 1.625rem;
}
.box-03 img{
    padding-right: 4rem;
    height: 96%;
    min-width: 38%;
}

/*BOX-O4*/
.box-04{
    display: flex;
    background-color:black ;
    color: white;
    width: 100%;
    height: 70vh;
    align-items: center;
    justify-content: space-between;
    border-bottom: 8pt solid #222222;
}
.box-04 img{
    order: -1;
    height: 85%;
    min-width: 43%;
    margin-left: 5rem;
}
.box-04 article{
    width: 49%;
    text-align: left;
    margin-left: 5rem;
}

.box-04 h1{
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
    width: 75%;
}

/*BOX-O5*/
.box-05 {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    width: 100%;
    height: auto;
    align-items: center;
    padding-top: 4rem;
    border-bottom: 8pt solid #222222;
}
.box-05 h1{
    font-size: 3rem;
}


/*ASK AREA*/
.box-ask{
     font-size: 1.5rem;
     padding-top: 3rem;
     height: 50;
     text-align: center; 
     width: 70rem; 
}
.box-ask-item{
     background-color: #222222;
     padding: 1.5rem;
     text-align: left;
     margin-bottom: 0.5rem;
     cursor: pointer;
     width: 50rem;
     margin-bottom: 1px;
   
}
.btn-svg  p{
    font-size: 1.9rem;
    width: 73%;
    font-weight: 400;
    color: white;
    position: relative;
    top: 1rem;
}

.box-resp{
    background-color: #222222;
    width: 71%;
    margin: auto;
    text-align: left;
    margin-bottom: 1rem;
    display: none;
}

.btn-svg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box-resp span{
    font-size: 1.8rem;
    text-align: left;
    display: inline-block;
    padding: 1.2em;
  
}

.box-input-ask-area{
    margin: 1.5rem;
}

/*FOOTER*/
.footer{
    max-width: 75%;
    margin:1rem auto;
    overflow: auto;
    height: 40vh;
    padding-top: 4rem;
}
.footer, .footer a{
    color: #999;
    font-size: 0.9rem;
    text-decoration: none;
}
 .footer a:hover{
    text-decoration: underline;
}
.footer p{
    margin-bottom:1.5rem;
}

.footer .footer-cols{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:2rem;
}
.footer li{
    line-height: 1.9;
}
